<h1> Destination </h1>

<hr>
<p><b> Name: </b><%= @destination.name %></p><hr>
<p><b> Country: </b><%= @destination.country %></p><hr>
<p><b> The most recent posts: </b> 
  
<p><b> Average age of bloggers who frequent here: </b><%= @destination.average_age %></p>
